@import "tailwindcss";

.logo{
    text-align: left;
    padding-top: 10px;
}
.nav-items>ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
}
.nav-items > ul >li{
    padding: 15px;
    margin: 25px;
}

.res-logo{
    width: 200px;
    height: 100px;
    display: block;
}

.shimmer.conatainer{
    display: flex;
    flex-wrap: wrap;
}
.shimmer.card{
    width: 200px;
    height: 400px;
    background-color: grey;
    margin: 10px;
} 

.user-card{
    padding: 10px;
    border: 1px solid black;
}